#include <windows.h>

101 ICON "presentation-timer.ico"
1 RT_MANIFEST "app.manifest"

1 VERSIONINFO
 FILEVERSION 5,0,0,0
 PRODUCTVERSION 5,0,0,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "041904B0"
    BEGIN
      VALUE "CompanyName", "Independent developer\0"
      VALUE "FileDescription", "Таймер презентации\0"
      VALUE "FileVersion", "5.0.0\0"
      VALUE "InternalName", "PresentationTimer\0"
      VALUE "OriginalFilename", "PresentationTimer-v5.exe\0"
      VALUE "ProductName", "Таймер презентации\0"
      VALUE "ProductVersion", "5.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x419, 1200
  END
END
